[Desktop Entry]
Categories=System;
Comment[pl_PL]=Zainstaluj system Pulsar Linux
Comment=Zainstaluj system Pulsar Linux
Comment[sk]=Nainštaluje operačný systém na disk
Exec=/usr/bin/cnchi
GenericName[pl_PL]=Live Installer
GenericName=Live Installer
Icon=cnchi
MimeType=
Name[pl_PL]=Zainstaluj Pulsar Linux
Name=Zainstaluj Pulsar Linux
Name[sk]=Inštalovať Pulsar Linux
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
